<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="assets/css/common.css" rel="stylesheet">
</head>
<body>








<!--SEARCH-->
<div class="modal fade" id="modalTempSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-wrap modal-search modal-dialog" role="document">
        <div class="modal-content">
            <div class="search-header clearfix">
                <span class="zoom"></span>
                <input type="text" class="s" id="deviceSearchInput" placeholder="Use tab to switch or type devices, events, reports" /></p>
                <p class="f">
                    <a href="#" class="left">preview</a><span>ALL</span><a href="#" class="right">next</a>
                </p>
            </div>
            <div class="search-typeword">
                    <p>Use <strong>Tab Key</strong> to switch categories <span>|</span> Type words - device name & type, event title&type, report title, date, user name etc.</p>
            </div>
            <ul class="search-list">
                <li>
                    <p class="f">
                        <span class="box disk"></span><span class="box os-win"></span><span class="dvc">Web Server - Dream</span>
                    </p>
                    <span class="etcs">
                        <a href="#" class="add">add device</a><a href="#" class="warn">information</a>
                    </span>
                </li>
                <li>
                    <p class="f">
                        <span class="box cloud"></span><span class="box os-linux"></span><span class="dvc">Cloud Server - Stone</span>
                    </p>
                    <span class="etcs">
                        <a href="#" class="add on">add device</a><a href="#" class="warn">information</a>
                    </span>
                </li>
                <li>
                    <p class="f">
                        <span class="box copy"></span><span class="box os-mark"></span><span class="dvc">Oracle DB Server</span>
                    </p>
                    <span class="etcs">
                        <a href="#" class="add on">add device</a><a href="#" class="warn">information</a>
                    </span>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="icon zap"></span>
                        <p class="paragraph">
                            <span class="up"><strong>Cloud Server</strong> CPU performance is getting up to 70%</span>
                            <span class="down">From <strong>Dream</strong>&nbsp; - &nbsp;20 Mar 2019</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="icon minus"></span>
                        <p class="paragraph">
                            <span class="up"><strong>Day Report</strong> Daily report of web server - dream</span>
                            <span class="down">Create by <strong>System</strong>&nbsp; - &nbsp;20 Mar 2019</span>
                        </p>
                    </div>
                    <span class="etcs">
                        <a href="#" class="down on">download</a><a href="#" class="email">email</a>
                    </span>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="icon minus"></span>
                        <p class="paragraph">
                            <span class="up"><strong>User Report</strong> Web Server - Sky (20 Mar 2019 - 29 Mar 2019)</span>
                            <span class="down">Create by <strong>BrianPark</strong>&nbsp; - &nbsp;20 Mar 2019</span>
                        </p>
                    </div>
                    <span class="etcs">    
                        <a href="#" class="down on">download</a><a href="#" class="email">email</a>
                    </span>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="icon minus"></span>
                        <p class="paragraph">
                            <span class="up"><strong>Day Report</strong> Daily report of web server - dream</span>
                            <span class="down">Create by <strong>System</strong>&nbsp; - &nbsp;20 Mar 2019</span>
                        </p>
                    </div>
                    <span class="etcs">
                        <a href="#" class="down on">download</a><a href="#" class="email">email</a>
                    </span>
                </li>
                <li>
                    <p class="f">
                        <span class="box cloud"></span><span class="box os-linux"></span><span class="dvc">Cloud Server - Stone</span>
                    </p>
                    <span class="etcs">
                        <a href="#" class="add on">add device</a><a href="#" class="warn">information</a>
                    </span>
                </li>
                <li>
                    <p class="f">
                        <span class="box copy"></span><span class="box os-mark"></span><span class="dvc">Oracle DB Server</span>
                    </p>
                    <span class="etcs">
                        <a href="#" class="add on">add device</a><a href="#" class="warn">information</a>
                    </span>
                </li>
                <li>
                    <div class="clearfix">
                        <span class="icon zap"></span>
                        <p class="paragraph">
                            <span class="up"><strong>Cloud Server</strong> CPU performance is getting up to 70%</span>
                            <span class="down">From <strong>Dream</strong>&nbsp; - &nbsp;20 Mar 2019</span>
                        </p>
                    </div>
                </li>
            </ul>
            <div class="search-result">
                <p>
                    <strong>Search Result</strong><span>120 devices</span><span>24 events</span><span>38 reports</span>
                </p>
            </div>
        </div>
    </div>
</div>









<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>