<!-- search data -->
<div class="search-data-popup">
    <input type="input" class="search-input" placeholder="Search Data" /><a href="#" class="search">search</a>
    <ul>
        <li><a href="#">O'Hare International Airport</a></li>
        <li><a href="#">Soekarno–Hatta International Airport</a></li>
        <li><a href="#">Charlotte Douglas International Airport</a></li>
        <li><a href="#">O'Hare International Airport</a></li>
        <li><a href="#">O'Hare International Airport</a></li>
        <li><a href="#">Soekarno–Hatta International Airport</a></li>
        <li><a href="#">Charlotte Douglas International Airport</a></li>
        <li><a href="#">O'Hare International Airport</a></li>
    </ul>
</div>
<!-- //search data-->