<!-- report/monthly3 -->
<div class="report-start" style="display: none">
    <div class="header clearfix">
        <span class="f">30 Apr 2019</span>
        <span class="s">Monthly Report  -  April 2019</span>
        <span class="t">Create by System</span>
    </div>

    <p class="line-title">Usage of Resource</p>
    <div class="custom_table-grid-sm">
        <table class="notable">
            <cologroup>
                <col width="40%" />
                <col width="*" />
                <col width="*" />
                <col width="*" />
            </cologroup>
            <thead>
            <tr>
                <th>Server Name</th>
                <th>IP</th>
                <th>OS</th>
                <th>Core</th>
                <th>Memory</th>
                <th>Disk</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Cloud Server - Dream</td>
                <td>211.239.168.234</td>
                <td>Window</td>
                <td>32</td>
                <td>64GB</td>
                <td>218</td>
            </tr>
            </tbody>
        </table>
    </div>

    <p class="line-title">Disk</p>
    <div class="custom_table-grid-sm">
        <table class="notable">
            <cologroup>
                <col width="30%" />
                <col width="*" />
                <col width="*" />
                <col width="*" />
            </cologroup>
            <thead>
            <tr>
                <th>Server Name</th>
                <th>Partition</th>
                <th>Disk Size</th>
                <th>Usage (%)</th>
                <th>Usage (GB)</th>
                <th>Increase/Decrease  (GB)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Cloud Server - Dream</td>
                <td>/</td>
                <td>218</td>
                <td>23%</td>
                <td>64GB</td>
                <td>28</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- //report/monthly3 -->