<!-- report/monthly2 -->
<div class="report-start" style="display: none">
    <div class="header clearfix">
        <span class="f">30 Apr 2019</span>
        <span class="s">Monthly Report  -  April 2019</span>
        <span class="t">Create by System</span>
    </div>

    <p class="line-title">CPU Usage for Server</p>
    <div class="custom_table-grid-sm">
        <table class="notable">
            <cologroup>
                <col width="40%" />
                <col width="*" />
                <col width="*" />
                <col width="*" />
            </cologroup>
            <thead>
            <tr>
                <th>Server Name</th>
                <th>Average</th>
                <th>Max</th>
                <th>Min</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="l"><span class="sign type1"></span>Cloud Server - Seoul - Violet001</td>
                <td>47%</td>
                <td>62%</td>
                <td>12%</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- //report/monthly2 -->