<!-- report -->
<div class="report-list-wrap">

    <!-- report left list -->

    <!-- report detail -->
    <div class="report-detail">
        <div class="detail-header clearfix">
            <div class="f">
                <span class="tt">Monthly Report  -  April 2019</span><span class="ts">Create by System</span>
            </div>
            <div class="s">
                <a href="#" class="print">print</a><a href="#" class="download">download</a><a href="#" class="email">e-mail</a>
            </div>
        </div>
        <div class="detail-wrap">


        </div>
    </div>
    <!-- //report detail -->

</div>
<!-- //report -->