@charset "utf-8";
/* ***************  global *************** */
// Montserrat 400, 600
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');

* {box-sizing: border-box}
html, body {margin:0; padding:0; font-family: 'inter-re', serif; color: #333;}

.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; } .clearfix { display:inline-block; }/*  ie-mac \*/ *html .clearfix {height: 1%;} .clearfix {display: block;}/* ie-mac */

/* *********** other ********** */
summary { display:none}
/* link */
a {}
a:hover {}
a:link {text-decoration:none}
a:visited {text-decoration:none}
a:active {text-decoration:none}

/* image */
img {border:0; vertical-align:top}

/* define */
dl, dt, dd {margin:0px; padding:0px;}

/* sentence */
div, h2 {padding:0; margin:0;}
p {margin:0px; padding:0px;}

/* list */
ul {list-style-type:none; margin:0px; padding:0px; }
ol {padding-left:24px;}

/* area */
hr {display:none;}

/* form */
form {margin:0; padding:0;}
form label, label {height:19px; color:#5E5E5E; cursor:default; font-size:100%;}
select {font-size:100%; background:#fff; vertical-align:middle; height:20px; letter-spacing:0px;}
legend {display:none;}
fieldset {margin:0; padding:0; border:none;}
label {margin-bottom: 0}

/* table */
table {margin:0px; padding:0px; border-spacing:0;}
td {margin:0px; padding:0px; font-size:100%; color:#777777;}
.notable {border-collapse:collapse; margin:0; padding:0; border-spacing:0; border:0 solid;}
th {font-weight:normal;}
/* h */
h1, h2, h3, h4, h5, h6 { margin:0; padding:0;}

input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}

/* border */
.nobd {border:0 !important}

@font-face {
    font-family: 'Inter-light';
    font-style:  normal;
    font-weight: 300;
    src: url("Inter-Light.woff2") format("woff2"),
         url("Inter-Light.woff") format("woff");
}
@font-face {
    font-family: 'inter-me';
    font-style:  normal;
    font-weight: 500;
    src: url('../img/font/Inter-Medium.woff2') format('woff2'),
         url('../img/font/Inter-Medium.woff') format('woff')
}
@font-face {
    font-family: 'inter-re';
    font-style:  normal;
    font-weight: 400;
    src: url('../img/font/Inter-Regular.woff2') format('woff2'),
         url('../img/font/Inter-Regular.woff') format('woff')
}
@font-face {
    font-family: 'inter-bold';
    font-style:  normal;
    font-weight: 700;
    src: url('../img/font/Inter-Bold.woff2') format('woff2'),
         url('../img/font/Inter-Bold.woff') format('woff'),
}
@font-face {
    font-family: 'Inter-semi';
    font-style:  normal;
    font-weight: 600;
    src: url("../img/font/Inter-SemiBold.woff2") format("woff2"),
         url("../img/font/Inter-SemiBold.woff") format("woff");
}

/* korean font */
@font-face {
    font-family: 'spoqa-bold';
    font-style:  normal;
    font-weight: 600;
    src: url("../img/font/Spoqa-Han-Sans-Bold.woff2") format("woff2"),
         url("../img/font/Spoqa-Han-Sans-Bold.woff") format("woff");
}
@font-face {
    font-family: 'spoqa-regular';
    font-style:  normal;
    font-weight: 400;
    src: url("../img/font/Spoqa-Han-Sans-Regular.woff2") format("woff2"),
         url("../img/font/Spoqa-Han-Sans-Regular.woff") format("woff");
}
@font-face {
    font-family: 'spoqa-light';
    font-style:  normal;
    font-weight: 200;
    src: url("../img/font/Spoqa-Han-Sans-Light.woff2") format("woff2"),
         url("../img/font/Spoqa-Han-Sans-Light.woff") format("woff");
}

/*
@font-face {
    font-family: 'NanumBrunGothic';
    src: url('../img/font/NanumBarunGothic.eot');
    src: url('../img/font/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
         url('../img/font/NanumBarunGothic.woff2') format('woff2'),
         url('../img/font/NanumBarunGothic.woff') format('woff'),
         url('../img/font/NanumBarunGothic.ttf') format('truetype');
}
*/

@import 'import.scss';
