/* search */
.modal-search {
    width: 970px;
    height: 607px;
    border-radius: 8px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;    
    
    div.search-header {
        height: 70px; 
        background: #97a4b1;
        @include prefix(border-radius, 8px 8px 0 0, webkit ms);

        span.zoom {
            float: left;
            width: 24px; height: 24px;
            margin: 23px 0 0 30px;
            background: url('../img/icons/icon_zoom.png') 0 0 no-repeat;
            @include prefix($bgs, 24px 24px, webkit ms);
        }
        input.s {
            float: left;
            font-family: $inter-r;
            font-size: 22px;
            color: #fff;
            opacity: .5;
            margin: 17px 0 0 15px;
            background: #97a4b1;
            border: 0;
            width: 73%;

            &::placeholder {
                color: #fff; 
            }
        }
        p.f {
            float: left;
            margin: 18px 0 0 20px;
            width: 144px;

            a {
                display: inline-block;
                text-indent: -9999px;
                width: 22px; height: 22px;

                &.left {
                    background: url('../img/icons/icon_search_left.png') 50% 50% no-repeat;
                    @include prefix($bgs, 22px 22px, webkit ms);
                }
                &.right {
                    background: url('../img/icons/icon_search_right.png') 50% 50% no-repeat;
                    @include prefix($bgs, 22px 22px, webkit ms);
                }
            }
            span {
                display: inline-block;
                font-family: $inter-r;
                font-size: 22px;
                color: #fff;
                width: 100px;
                text-align: center;
            }
        }
    }
    div.search-typeword {
        height: 42px;
        background: #eef2f5;
        border-bottom: 1px solid #c8d3df;

        p {
            font-family: $inter-r;
            font-size: 13px;
            color: #97a4b1;
            padding: 12px 0 0 33px;

            strong {
                font-family: $inter-b;
            }
            span {
                margin: 0 10px;
            }
        }
    }
    ul.search-list {
        overflow-y: auto;
        overflow-x: hidden;
        height: 449px;
        @include prefix(box-shadow, inset 1px 4px 9px -6px #ccc, webkit ms);

        li {
            position: relative;
            height: 62px;
            border-bottom: 1px solid #dfe5eb;
            padding: 8px 0 0 17px;

            &:hover::before {
                content: ' ';
                position: absolute;
                left: 0; top: 0;
                width: 4px; height: 100%;
                background: #9678ff;
            }
            p.f {
                font-family: $inter-m;
                font-size: 20px;
                color: #28313b;
                line-height: 23px;
                padding: 10px 0 0 10px;

                span.box {
                    display: inline-block;
                    width: 18px; height: 20px;
                    margin-right: 12px;

                    &.disk {
                        background: url('../img/icons/icon_server.png') 50% 100% no-repeat;
                        @include prefix(background-size, 18px 18px, webkit ms);
                    }
                    &.cloud {
                        background: url('../img/icons/icon_cloud.png') 50% 100% no-repeat;
                        @include prefix(background-size, 18px 18px, webkit ms);
                    }
                    &.copy {
                        background: url('../img/icons/icon_copy.png') 50% 100% no-repeat;
                        @include prefix(background-size, 18px 18px, webkit ms);
                    }
                    &.os-win {
                        background: url('../img/icons/icon_os_window.png') 50% 100% no-repeat;
                        @include prefix(background-size, 18px 18px, webkit ms);
                    }
                    &.os-linux {
                        background: url('../img/icons/icon_os_linux.png') 50% 100% no-repeat;
                        @include prefix(background-size, 18px 18px, webkit ms);
                    }
                    &.os-mark {
                        background: url('../img/icons/icon_os_mark.png') 50% 100% no-repeat;
                        @include prefix(background-size, 18px 18px, webkit ms);
                    }
                }
                span.dvc {
                    margin-left: 5px;
                }
            }

            div > span.icon {
                float: left;
                width: 18px; height: 18px;
                margin: 12px 20px 0 10px;

                &.zap {
                    background: url('../img/layout/lnb_zap.png') 50% 50% no-repeat;
                    @include prefix(background-size, 18px 18px, webkit ms);
                }
                &.minus {
                    background: url('../img/layout/lnb_file_minus.png') 50% 50% no-repeat;
                    @include prefix(background-size, 18px 18px, webkit ms);
                }
            }
            div > p.paragraph {
                float: left;

                span.up {
                    display: block;
                    font-family: $inter-m;
                    font-size: 16px;
                    color: #28313b;

                    strong {
                        font-family: $inter-b;
                        margin-right: 15px;
                    }
                }
                span.down {
                    display: block;
                    font-family: $inter-r;
                    font-size: 13px;
                    color: #97a4b1;

                    strong {
                        font-family: $inter-b;
                    }
                }
            }

            span.etcs {
                position: absolute;
                top: 20px; right: 30px;

                a {
                    display: inline-block;
                    width: 20px; height: 20px;
                    margin-left: 20px;
                    text-indent: -9999px;

                    &.add {
                        background: url('../img/icons/icon_search_login.png') 0 0 no-repeat;
                        @include prefix($bgs, 20px 20px, webkit ms);
                    }
                    &.add.on {
                        background: url('../img/icons/icon_search_login_on.png') 0 0 no-repeat;
                        @include prefix($bgs, 20px 20px, webkit ms);
                    }
                    &.warn {
                        background: url('../img/icons/icon_search_info.png') 0 0 no-repeat;
                        @include prefix($bgs, 20px 20px, webkit ms);
                    }
                    &.down {
                        background: url('../img/icons/icon_search_download.png') 0 0 no-repeat;
                        @include prefix($bgs, 20px 20px, webkit ms);
                    }
                    &.email {
                        background: url('../img/icons/icon_search_mail.png') 0 0 no-repeat;
                        @include prefix($bgs, 20px 20px, webkit ms);
                    }
                }
            }
        }
    }
    div.search-result {
        height: 46px;
        background: #eef2f5;
        @include prefix(border-radius, 0 0 8px 8px, webkit ms);
        
        p {
            font-size: 13px;
            font-family: $inter-r;
            color: #97a4b1;
            padding: 13px 0 0 33px;

            strong {
                font-family: $inter-b;
            }
            span {margin-left: 20px;}
        }
    }
}

/* calenda popup date */
div.calendar-popup-date {
    position: absolute;
    z-index:10;
    top: 0; left: 0;
    width: 100%; height: 100%;

    @include breakpointmax(max) {
        width: 1600px !important;
    }

    div.film {
        width: 100%; height: 100%;
        opacity: 0.9;
        background-color: #1a1e22;
    }
    div.inner {
        position: absolute;
        width: 100%; height: 100%;
        top: 0; left: 0;
        padding: 16px 20px 0 20px;

        h2 {
            width: 100%; height: 50px;
            border-radius: 25px;
            background-color: #9678ff;
            text-align: center;
            padding-top: 15px;
            font-size: 16px; font-family: $inter-b; color: #fff;
        }
        a.close {
            position: absolute;
            top: 21px; right: 26px;
            text-indent: -9999px;
            width: 70px; height: 40px;
            opacity: 0.4;
            border-radius: 25px;
            background: #f2f4f5 url('../img/icons/icon_calendar_x.png') 50% 50% no-repeat;
            @include prefix($bgs, 24px 24px, webkit ms);
        }
        div.select-wrap {
            font-family: $inter-m; color: #fff;

            div.selected-date {
                float: left;
                width: 415px;
                padding: 165px 0 0 40px;

                span.from {
                    font-size: 24px; 
                    line-height: 29px;
                }
                p.date {
                    font-size: 60px; 
                    line-height: 72px;
                    padding: 16px 0;

                    span {
                        margin: 0 10px;

                        &:first-child {
                            margin: 0 10px 0 0;
                        }
                    }
                }
                p.time {
                    font-size: 40px; 
                    line-height: 49px;

                    span {
                        margin: 0 10px;

                        &:first-child {
                            margin: 0 10px 0 0;
                        }
                    }
                }
                span.v-bar {
                    display: block;
                    width: 2px; height: 60px;
                    background: #fff;
                    opacity: .5;
                    margin: 30px 0;
                }
                span.to {
                    font-size: 24px;
                    line-height: 29px;
                }
                p.present {
                    font-size: 60px;
                    line-height: 72px;
                    padding: 16px 0;
                }
                span.h-bar {
                    display: block;
                    width: 40px; height: 4px;
                    background: #fff;
                    opacity: .5;
                    margin: 30px 0;
                }
                div.btns {
                    padding-top: 100px;
                }
            }
            div.select-area {
                float: left;
                width: 860px;
                padding: 165px 0 0 0;
                margin-left: 200px;

                span.set-date {
                    display: block;
                    font-size: 24px; 
                    line-height: 29px;
                    padding-bottom: 30px;
                }
                span.set-time {
                    display: block;
                    font-size: 24px; 
                    line-height: 29px;
                    padding: 10px 0 30px 0;
                }

                table {

                    td {
                        font-size: 16px;
                        font-family: $inter-b;
                        color: #fff;
                        vertical-align: top;
                        padding-bottom: 30px;

                        &.t {
                            padding-top: 3px;
                        }
                        a {
                            display: inline-block;
                            line-height: 30px;
                            padding: 0 11px;
                            font-family: $inter-r;
                            color: #fff;
                            margin: 0 2px 5px 2px;
                            text-align: center;

                            &.on {
                                border-radius: 17px;
                                background: #9678ff;
                            }
                        }
                        &.dates {
                            a {
                                width: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}
  