/********************** 
* event
***********************/
div.event-list-wrap {
    background: #f8fafc;

    div.event-period-info {
        height: 79px;
        background: #e8eef4;

        div.period {
            position: relative;
            float: left;
            width: 22%; height: 80px;
            background: #97a4b1;
            color: #fff;
            border-bottom: 1px solid #c8d3df;

            &:hover {
                background: #28313b;
            }
            span.txt {
                position: absolute;
                font-size: 12px;
                top: 6px; left: 9px;
            }
            div.period-input {
                text-align: center;
                padding-top: 24px;
                
                span.line {
                    display: inline-block;
                    width: 20px;
                    border-top: 1px solid #fff;
                    vertical-align: middle;
                }
                input {
                    width: 100px;
                    text-align: center;
                    font-family: $inter-m;
                    font-size: 18px; 
                    color: #fff;
                    background: transparent;
                    border: 0;
                    margin: 0 15px;
                }
            }
        }
        div.infos {
            float: left;
            width: 78%;
            border-bottom: 1px solid #c8d3df;

            &>ul {
                
                &>li {
                    position: relative;
                    float: left;
                    width: 13%; height: 79px;
                    border-right: 1px solid #c8d3df;
                
                    &.total:hover:before {
                        position: absolute;
                        content: '';
                        bottom: 0; left: 0;
                        width: 100%;
                        height: 2px;
                        background: #63DBC1;
                        z-index: 1;
                    }
                    &.total {
                        &.active {
                            background: #f2f4f5;
                        }
                        &.active:after {
                            position: absolute;
                            content: '';
                            bottom: 0; left: 0;
                            width: 100%;
                            height: 2px;
                            background: #63DBC1;
                            z-index: 1;
                        }
                    }
                    &.critical:hover:before {
                        position: absolute;
                        content: '';
                        bottom: 0; left: 0;
                        width: 100%;
                        height: 2px;
                        background: #EB5858;
                        z-index: 1;
                    }
                    &.critical {
                        &.active {
                            background: #f2f4f5;
                        }
                        &.active:after {
                            position: absolute;
                            content: '';
                            bottom: 0; left: 0;
                            width: 100%;
                            height: 2px;
                            background: #EB5858;
                            z-index: 1;
                        }
                    }
                    &.major:hover:before {
                        position: absolute;
                        content: '';
                        bottom: 0; left: 0;
                        width: 100%;
                        height: 2px;
                        background: #ff957c;
                        z-index: 1;
                    }
                    &.major {
                        &.active {
                            background: #f2f4f5;
                        }
                        &.active:after {
                            position: absolute;
                            content: '';
                            bottom: 0; left: 0;
                            width: 100%;
                            height: 2px;
                            background: #ff957c;
                            z-index: 1;
                        }
                    }
                    &.minor:hover:before {
                        position: absolute;
                        content: '';
                        bottom: 0; left: 0;
                        width: 100%;
                        height: 2px;
                        background: #9678ff;
                        z-index: 1;
                    }
                    &.minor {
                        &.active {
                            background: #f2f4f5;
                        }
                        &.active:after {
                            position: absolute;
                            content: '';
                            bottom: 0; left: 0;
                            width: 100%;
                            height: 2px;
                            background: #9678ff;
                            z-index: 1;
                        }
                    }
                    &.warning:hover:before {
                        position: absolute;
                        content: '';
                        bottom: 0; left: 0;
                        width: 100%;
                        height: 2px;
                        background: #41cee2;
                        z-index: 1;
                    }
                    &.warning {
                        &.active {
                            background: #f2f4f5;
                        }
                        &.active:after {
                            position: absolute;
                            content: '';
                            bottom: 0; left: 0;
                            width: 100%;
                            height: 2px;
                            background: #41cee2;
                            z-index: 1;
                        }
                    }
                    &.info:hover:before {
                        position: absolute;
                        content: '';
                        bottom: 0; left: 0;
                        width: 100%;
                        height: 2px;
                        background: #63DBC1;
                        z-index: 1;
                    }
                    &.info {
                        &.active {
                            background: #f2f4f5;
                        }
                        &.active:after {
                            position: absolute;
                            content: '';
                            bottom: 0; left: 0;
                            width: 100%;
                            height: 2px;
                            background: #63DBC1;
                            z-index: 1;
                        }
                    }
                    span.txt {
                        position: absolute;
                        font-size: 12px;
                        color: #97a4b1;
                        top: 6px; left: 9px;
                    }
                    p.count {
                        font-family: $inter-m;
                        font-size: 32px;
                        color: #28313b;
                        text-align: center;
                        line-height: 74px;
                        letter-spacing: -1px;
                        padding-top: 5px;
                    }
                    &.l {
                        width: 22%;
                        border-right: 0;
                        padding-top: 18px;

                        &:hover {
                            background: none;
                        }
                        &:hover:before {
                            z-index: -1;
                        }
                    }
                }
            }
        }
    }

    div.event-date-list {
        width: 100%;
        overflow-y: auto;

        div.blank {
            height: 30px;
        }

        div.affix-layout {
            position: relative;
            border-bottom: 1px solid #e8eef4;
            border-top: 1px solid #f8fafc;
            background: #f8fafc;

            &.fixed span.times {
                position: fixed;
                top: 180px;
                left: 105px
            }
            span.times {
                position: absolute;
                left: 35px; top: 10px;
                color: #28313b;
                background: #f8fafc;

                span.time-hour {
                    display: inline-block; 
                    width: 62px;
                    vertical-align: middle;
                    font-family: $inter-m;
                    font-size: 48px;
                    letter-spacing: -0.5px;
                }
                span.hour {
                    display: inline-block;
                    font-family: $inter-m;
                    font-size: 16px;
                    letter-spacing: -0.3px;
                    color: #28313b;
                    vertical-align: middle;
                    margin-left: 10px;
                }
            }
            div.time-lists {
                margin-left: 410px;
                border-left: 1px solid #bccad7;

                p.now-time {
                    margin: 20px 0 0 -130px;
                    width: 140px;
                    background: #f8fafc url('../img/icons/icon_clock.png') 100% 50% no-repeat;
                    @include prefix($bgs, 22px 22px, webkit ms);

                    span.num {
                        font-size: 24px;
                        color: #28313b;
                    }
                    span.eng {
                        font-size: 16px;
                        color: #28313b;
                    }
                }

                ul {
                    margin-left: -108px;

                    &.first-time-line {
                        
                    }

                    li {
                        padding: 10px 0;

                        span.min-ago {
                            display: inline-block;
                            width: 65px;
                            text-align: right;
                            font-size: 14px;
                            color: #28313b;
                            margin-right: 13px;
                            vertical-align: middle;
                        }
                        div.time-bar {
                            position: relative;
                            display: inline-block;
                            padding-right: 90px;
                            height: 46px;
                            border-radius: 23px;
                            vertical-align: middle;
                            line-height: 42px;
                            background-color: #ffffff;

                            &.green {
                                border: solid 1px #41cee2;
                            }
                            &.red {
                                border: solid 1px #ff957c;
                            }
                            &.purple {
                                border: solid 1px #9678ff;
                            }

                            span.first-circle {
                                position: absolute;
                                top: 5px; left: 6px;
                                width: 34px;
                                height: 34px;
                                border-radius: 50%;

                                &.green {
                                    border: solid 2px #41cee2;
                                }
                                &.red-play {
                                    border: solid 2px #ff957c;
                                    background: #ff957c url('../img/icons/icon_play.png') 65% 50% no-repeat;
                                    @include prefix($bgs, 18px 18px, webkit ms);
                                }
                                &.purple-check {
                                    border: solid 2px #9678ff;
                                    background: #9678ff url('../img/icons/icon_play_check.png') 65% 50% no-repeat;
                                    @include prefix($bgs, 18px 18px, webkit ms);
                                }
                            }
                            span.last-circle {
                                position: absolute;
                                top: 5px; right: 6px;
                                font-family: $inter-m;
                                font-size: 16px;
                                color: #28313b;

                                span.circle {
                                    display: inline-block;
                                    width: 34px;
                                    height: 34px;
                                    border: solid 1px rgba(0, 0, 0, 0.1);
                                    background-color: #e8eef4;
                                    font-size: 16px;
                                    text-align: center;
                                    font-family: $inter-m;
                                    border-radius: 50%;
                                    margin-left: 5px;
                                    vertical-align: top; 
                                    line-height: 33px;
                                    letter-spacing: -1px;

                                    &.file-minus {
                                        background: #e8eef4 url('../img/icons/icon_file_minus.png') 65% 50% no-repeat;
                                        @include prefix($bgs, 18px 18px, webkit ms); 
                                    }
                                }
                            }
                            span.server-name {
                                font-family: $inter-m;
                                font-size: 16px;
                                color: #28313b;
                                margin: 0 20px 0 55px;
                            }
                            span.server-status {
                                font-size: 16px;
                                color: #28313b;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* monitoring force event popup */
div.full-popup-wrap { // content 의 정책을 기본으로 따릅니다.

    div.inner {

        div.monitoring-event {
            width: 920px;
            margin: 60px auto 0 auto;
            border-radius: 8px;
            border: solid 1px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            padding: 0 24px 40px 24px;

            p.title {
                font-family: $inter-m;
                font-size: 21px;
                letter-spacing: -0.3px;
                color: #28313b;
                padding: 40px 0 27px 0;
                text-align: center;
            }
            p.paragraph {
                font-size: 14px;
                line-height: 1.57;
                color: #28313b;
            }
            p.table-title {
                font-family: $inter-m;
                font-size: 13px;
                letter-spacing: -0.3px;
                color: #28313b;
                border-bottom: 2px solid #28313b;
                padding-bottom: 3px;
            }
            table.monitoring-table {

                th {
                    font-family: $inter-m;
                    text-align: left;
                    padding: 0 10px;
                    color: #97a4b1;
                    font-size: 13px;
                    border-bottom: 1px solid #bccad7;
                }
                td {
                    padding: 12px 10px;
                    font-size: 16px;
                    color: #28313b;
                    border-bottom: 1px solid #bccad7;
                }
                span.s-t {
                    font-size: 13px;
                    color: #28313b;
                }
                span.severity-level {

                    display: inline-block;
                    width: 17px; height: 17px;
                    vertical-align: middle;
                    border-radius: 50%;
                    margin-right: 7px;

                    &.critical {
                        background: #ea5858;
                    }
                }
            }
        }
    }
}