header {
    
    div.personal-list-wrap {
        position: absolute;
        z-index: 6;
        top: 42px; right: 8px;
        padding-top: 15px;

        div.personal-information {
            width: 209px;
            border-radius: 4px;
            box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
            background-color: #ffffff;

            span.f {
                display: block;
                height: 37px;
                background: #7850ff;
                border-bottom: 0;
                text-align: center;
                font-size: 13px; color: #fff;
                padding: 0 0 0 0;
                line-height: 37px;
                border-radius: 4px 4px 0 0;
            }

            li {
                position: relative;
                height: 40px;
                border-bottom: 1px solid #dfe5eb;
                padding: 6px 0 0 15px;

                a {
                    color: #28313b;
                    font-size: 14px;
                }

                &:hover::before {
                    content: ' ';
                    position: absolute;
                    left: 0; top: 0;
                    width: 4px; height: 100%;
                    background: #9678ff;
                }
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }

    div.notice-list-wrap {
        position: absolute;
        z-index: 6;
        top: 42px; right: 8px;
        padding-top: 15px;

        div.notice-list {
            width: 370px;
            border-radius: 4px;
            box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
            background-color: #ffffff;

            div.f {
                display: block;
                height: 37px;
                background: #7850ff;
                border-bottom: 0;
                font-size: 13px; color: #fff;
                padding: 0 0 0 0;
                line-height: 37px;
                border-radius: 4px 4px 0 0;

                span {
                    float: left;
                    font-family: $inter-b;
                    margin-left: 17px;
                }
                a {
                    float: right;
                    color: #fff;
                    font-size: 12px;
                    font-family: $inter-m;
                    opacity: .5;
                    margin-right: 12px;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            li {
                position: relative;
                height: 65px;
                border-bottom: 1px solid #dfe5eb;
                padding: 12px 0 0 17px;

                &.on {
                    background: #f8fafc;
                }
                &:hover::before {
                    content: ' ';
                    position: absolute;
                    left: 0; top: 0;
                    width: 4px; height: 100%;
                    background: #9678ff;
                }
                p.f {
                    font-family: $inter-m;
                    font-size: 14px;
                    color: #28313b;
                    line-height: 20px;
                    
                    span.box {
                        display: inline-block;
                        width: 17px; height: 17px;
                        margin-right: 2px;
                        vertical-align: top;
                    }
                    span.dvc {
                        margin-left: 5px;
                    }
                }
                p.s {   
                    font-family: $inter-r;
                    font-size: 12px;
                    color: #97a4b1;
                    line-height: 20px;

                    strong {
                        font-family: $inter-b;
                    }
                }
            }

            a.show-more {
                display: block;
                height: 26px;
                background: #f2f4f5;
                border-radius: 0 0 4px 4px;
                background: #f2f4f5 url('../img/icons/icon_more_off.png') 50% 65% no-repeat;

                &:hover {
                    background: #f2f4f5 url('../img/icons/icon_more_on.png') 50% 65% no-repeat;
                }
            }
        }
    }
}