.lnb-wrap {
    
    ul {
        margin-top: 80px; 

        li {
            position: relative;
            margin: 0; padding: 0;
            text-align: center;
            line-height: 10px;

            a {
                display: inline-block;
                margin: 20px 0;
                width: 22px; height: 22px;
                text-indent: -9999px;
            }

            &:nth-child(1) a {
                width: 79px; height: 80px;
                margin: 0;
                background: #97a4b1 url('../img/layout/lnb_activity.png') 50% 50% no-repeat;
                @include prefix(background-size, 22px 22px, webkit ms);
                border-bottom: 1px solid #c8d3df;
            }
            &:nth-child(2) a {
                width: 79px; height: 80px;
                margin: 0;
                background: #eef2f5 url('../img/layout/lnb_zap.png') 50% 50% no-repeat;
                @include prefix(background-size, 22px 22px, webkit ms);
                border-bottom: 1px solid #c8d3df;
            }
            &:nth-child(3) a {
                width: 79px; height: 80px;
                margin: 0 0 20px 0;
                background: #eef2f5 url('../img/layout/lnb_file_minus.png') 50% 50% no-repeat;
                @include prefix(background-size, 22px 22px, webkit ms);
                border-bottom: 1px solid #c8d3df;
            }
            &:nth-child(4) a {
                background: url('../img/layout/lnb_calendar.png') 50% 50% no-repeat;
                @include prefix(background-size, 22px 22px, webkit ms);
            }
            &:nth-child(5) a {
                background: url('../img/layout/lnb_file_plus.png') 50% 50% no-repeat;
                @include prefix(background-size, 22px 22px, webkit ms);
            }
            &:nth-child(6) a {
                background: url('../img/layout/lnb_instagram.png') 50% 50% no-repeat;
                @include prefix(background-size, 22px 22px, webkit ms);
            }
            &:nth-child(7) a {
                background: url('../img/layout/lnb_piechart.png') 50% 50% no-repeat;
                @include prefix(background-size, 22px 22px, webkit ms);
            }
            &:nth-child(8) a {
                background: url('../img/layout/lnb_info.png') 50% 50% no-repeat;
                @include prefix(background-size, 22px 22px, webkit ms);
            }
        }
    }
}