.lnb-wrap {
    
    ul {
        margin-top: 70px; 

        li {
            position: relative;
            margin: 0; padding: 0;
            text-align: center;
            line-height: 10px;

            a {
                display: inline-block;
                margin: 20px 0;
                width: 20px; height: 20px;
                text-indent: -9999px;
            }

            &:nth-child(1) a {
                width: 69px; height: 70px;
                margin: 0;
                background: #eef2f5 url('../img/layout/lnb_activity.png') 50% 50% no-repeat;
                @include prefix(background-size, 20px 20px, webkit ms);

                &:hover {
                    background: #97a4b1 url('../img/layout/lnb_activity_on.png') 50% 50% no-repeat;
                    @include prefix(background-size, 20px 20px, webkit ms);
                }
                &.on {
                    background: #97a4b1 url('../img/layout/lnb_activity_on.png') 50% 50% no-repeat;
                    @include prefix(background-size, 20px 20px, webkit ms);
                }
            }
            &:nth-child(2) a {
                width: 69px; height: 70px;
                margin: 0;
                background: #eef2f5 url('../img/layout/lnb_zap.png') 50% 50% no-repeat;
                @include prefix(background-size, 20px 20px, webkit ms);

                &:hover {
                    background: #97a4b1 url('../img/layout/lnb_zap_on.png') 50% 50% no-repeat;
                    @include prefix(background-size, 20px 20px, webkit ms);
                }
                &.on {
                    background: #97a4b1 url('../img/layout/lnb_zap_on.png') 50% 50% no-repeat;
                    @include prefix(background-size, 20px 20px, webkit ms);
                }
            }
            &:nth-child(3) a {
                width: 69px; height: 70px;
                margin: 0 0 0px 0;
                background: #eef2f5 url('../img/layout/lnb_file_minus.png') 50% 50% no-repeat;
                @include prefix(background-size, 20px 20px, webkit ms);
                border-bottom: 1px solid #c8d3df;

                &:hover {
                    background: #97a4b1 url('../img/layout/lnb_file_minus_on.png') 50% 50% no-repeat;
                    @include prefix(background-size, 20px 20px, webkit ms);
                }
                &.on {
                    background: #97a4b1 url('../img/layout/lnb_file_minus_on.png') 50% 50% no-repeat;
                    @include prefix(background-size, 20px 20px, webkit ms);
                }
            }
            &:nth-child(4) {
                margin-top: 10px;
            }
            &:nth-child(4) a {
                background: url('../img/layout/lnb_calendar.png') 50% 50% no-repeat;
                @include prefix(background-size, 20px 20px, webkit ms);

                &:hover {
                    background: url('../img/layout/lnb_calendar_on.png') 50% 50% no-repeat;
                    @include prefix(background-size, 20px 20px, webkit ms);
                }
            }
            &:nth-child(5) a {
                background: url('../img/layout/lnb_file_plus.png') 50% 50% no-repeat;
                @include prefix(background-size, 20px 20px, webkit ms);

                &:hover {
                    background: url('../img/layout/lnb_file_plus_on.png') 50% 50% no-repeat;
                    @include prefix(background-size, 20px 20px, webkit ms);
                }
            }
            &:nth-child(6) a {
                background: url('../img/layout/lnb_instagram.png') 50% 50% no-repeat;
                @include prefix(background-size, 20px 20px, webkit ms);

                &:hover {
                    background: url('../img/layout/lnb_instagram_on.png') 50% 50% no-repeat;
                    @include prefix(background-size, 20px 20px, webkit ms);
                }
            }
            &:nth-child(7) a {
                background: url('../img/layout/lnb_piechart.png') 50% 50% no-repeat;
                @include prefix(background-size, 20px 20px, webkit ms);

                &:hover {
                    background: url('../img/layout/lnb_piechart_on.png') 50% 50% no-repeat;
                    @include prefix(background-size, 20px 20px, webkit ms);
                }
            }
            &:nth-child(8) a {
                background: url('../img/layout/lnb_info.png') 50% 50% no-repeat;
                @include prefix(background-size, 20px 20px, webkit ms);

                &:hover {
                    background: url('../img/layout/lnb_info_on.png') 50% 50% no-repeat;
                    @include prefix(background-size, 20px 20px, webkit ms);
                }
            }
        }
    }
}

div.lnb-tools-wrap {
    //calendar
    &.calendar {
        left: 60px; top: 300px;
        
        div.tools-container {
            
            div.tools-content {
                width: 454px; height: 243px;
                padding: 12px 15px;

                p.title {
                    font-family: $inter-b;
                    font-size: 13px;
                    color: #28313b;
                    padding-bottom: 18px;
                    text-align: center;
                }

                div.period {
                    padding-bottom: 18px;

                    p.progress {
                        width: 100%;
                        height: 16px;
                        border-radius: 13px;
                        border: solid 1px #bccad7;
                        background-image: linear-gradient(to bottom, #e0e7ee, #f5f8fa);

                        span {
                            width: 121px;
                            height: 14px;
                            border-radius: 13px;
                            background: #9678ff;
                        }
                    }
                    div.p-time {
                        padding-top: 5px;
                        font-family: $inter-m;
                        font-size: 12px;
                        color: #97a4b1;

                        span {
                            margin-right: 17px;

                            &.on {
                                color: #28313b;
                            }
                        }
                    }
                }
                div.from-to {
                    padding-top: 17px; 

                    & > div {
                        position: relative;
                    }
                    div.from-date {
                        padding-bottom: 10px;
                    }
                    span.tt {
                        position: absolute;
                        top: 14px; left: 12px;
                        color: #97a4b1;
                        font-family: $inter-m;
                        font-size: 12px;
                    }
                    p.date-time {
                        display: inline-block;
                        font-family: $inter-b;
                        font-size: 16px;
                        color: #28313b;
                        height: 46px;
                        border-radius: 4px;
                        border: solid 1px #bccad7;
                        background-color: #f7f9fb;
                        padding: 9px 10px;
                        text-align: center;

                        &.a {width: 258px;}
                        &.b {width: 150px; margin-left: 12px;}

                        span.dates {
                            
                            span {
                                color: #97a4b1;
                                font-family: $inter-r;
                            }
                        }
                        span.time {

                            span {
                                color: #97a4b1;
                                font-family: $inter-r;
                            }
                        }
                    }
                }
            }
        }
    }

    // create a report
    &.create-report {
        left: 60px; top: 357px;
        
        div.tools-container {
            
            div.tools-content {
                width: 454px; height: 346px;
                padding: 12px 15px;

                p.title {
                    font-family: $inter-b;
                    font-size: 13px;
                    color: #28313b;
                    padding-bottom: 18px;
                    text-align: center;
                }
                div.type-comment {

                    textarea {
                        width: 100%;
                        height: 73px;
                        font-family: $inter-r;
                        font-size: 16px;
                        color: #97a4b1;

                        &::placeholder {
                            color: #97a4b1;
                        }
                    }
                    p {
                        font-family: $inter-r;
                        font-size: 13px;
                        color: #97a4b1;
                        line-height: 18px;
                        padding: 8px 0 18px 0;
                    }
                }
                div.email {
                    padding: 15px 0;

                    span {
                        font-family: $inter-m;
                        color: #28313b;
                        font-size: 14px;
                        margin-right: 23px;
                    }
                    input {
                        width: 356px;
                        color: #97a4b1;
                        font-size: 16px;
                    }
                }
                div.btns {
                    text-align: center;
                    padding-top: 18px;

                    a.a {
                        width: 146px;
                    }
                    a.b {
                        width: 270px;
                        margin-left: 10px;
                    }
                    a.c {
                        width: 270px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    // Snapshot
    &.snap-shot {
        left: 60px; top: 225px;
        
        div.tools-container {
            
            div.tools-content {
                width: 454px; height: 450px;
                padding: 12px 15px;

                p.title {
                    font-family: $inter-b;
                    font-size: 13px;
                    color: #28313b;
                    padding-bottom: 18px;
                    text-align: center;
                    border-bottom: 1px solid #dfe5eb;
                }
                ul.snapshot-list {
                    overflow-y: auto;
                    overflow-x: hidden;
                    height: 320px;
            
                    li {
                        position: relative;
                        height: 53px;
                        border-bottom: 1px solid #dfe5eb;
                        padding: 12px 0 0 17px;

                        span.ico {
                            float: left;
                            width: 24px; height: 24px;
                            text-indent: -9999px;

                            &.trend {
                                background: url('../img/icons/icon_trending_up.png') 50% 50% no-repeat;
                                @include prefix($bgs, 24px 24px, webkit ms);
                            }
                            &.bar {
                                background: url('../img/icons/icon_bar_chart.png') 50% 50% no-repeat;
                                @include prefix($bgs, 24px 24px, webkit ms);
                            }
                            &.pie {
                                background: url('../img/icons/icon_pie_chart.png') 50% 50% no-repeat;
                                @include prefix($bgs, 24px 24px, webkit ms);
                            }
                        }
                        p {
                            float: left;
                            width: 358px;
                            font-family: $inter-m;
                            font-size: 16px;
                            color: #28313b;
                            padding-left: 17px;
                            @include ellips;
                        }
                        span.checkbox-default {
                            margin-top: 3px;
                        }
                    }
                }
                div.btns {
                    text-align: center;
                    padding-top: 18px;

                    a.save-chart {
                        width: 100%;
                    }
                }
            }

            .tools-tip {
                top: 210px;
            }
        }
    }

    // Add charts
    &.add-charts {
        left: 60px; top: 282px;
        
        div.tools-container {
            
            div.tools-content {
                width: 454px; height: 450px;
                padding: 12px 15px;

                p.title {
                    font-family: $inter-b;
                    font-size: 13px;
                    color: #28313b;
                    padding-bottom: 18px;
                    text-align: center;
                    border-bottom: 1px solid #dfe5eb;
                }
                ul.charts-list {
                    overflow-y: auto;
                    overflow-x: hidden;
                    height: 320px;
            
                    li {
                        position: relative;
                        height: 53px;
                        border-bottom: 1px solid #dfe5eb;
                        padding: 12px 0 0 17px;

                        span.ico {
                            float: left;
                            width: 24px; height: 24px;
                            text-indent: -9999px;

                            &.trend {
                                background: url('../img/icons/icon_trending_up.png') 50% 50% no-repeat;
                                @include prefix($bgs, 24px 24px, webkit ms);
                            }
                            &.bar {
                                background: url('../img/icons/icon_bar_chart.png') 50% 50% no-repeat;
                                @include prefix($bgs, 24px 24px, webkit ms);
                            }
                            &.pie {
                                background: url('../img/icons/icon_pie_chart.png') 50% 50% no-repeat;
                                @include prefix($bgs, 24px 24px, webkit ms);
                            }
                        }
                        p {
                            float: left;
                            width: 320px;
                            font-family: $inter-m;
                            font-size: 16px;
                            color: #28313b;
                            padding-left: 17px;
                            @include ellips;
                        }
                    }
                }
                div.btns {
                    text-align: center;
                    padding-top: 18px;

                    a.save-chart {
                        width: 100%;
                    }
                }
            }

            .tools-tip {
                top: 210px;
            }
        }
    }
}