/********************** 
* tiny popup
***********************/
div.tiny-popup-wrap {
    position: absolute;
    z-index: 6;
    right: 50%; top: 50%;
    transform: translate(50%,-50%);
    padding: 35px 40px 25px 40px;
    width: 400px;
    min-height: 180px;
    border-radius: 6px;
    box-shadow: 0 5px 15px 0 rgba(40, 49, 59, 0.15);
    border: 1px solid #e8eef4;
    background-color: #ffffff;
    text-align: center;

    a.close-btn {
        position: absolute;
        width: 20px; height: 20px;
        right: 13px; top: 13px;
        background: url('../img/popup/icon_close.png') 0 0 no-repeat;
        @include prefix($bgs, 20px 20px, webkit ms);
        text-indent: -9999px;
    }
    span.popup-img {
        display: inline-block;
        width: 60px; height:60px; 

        &.check {
            background: url('../img/popup/icon_check.png') 0 0 no-repeat;
            @include prefix($bgs, 60px 60px, webkit ms);    
        }
        &.delete {
            background: url('../img/popup/icon_trash.png') 0 0 no-repeat;
            @include prefix($bgs, 60px 60px, webkit ms);    
        }
        &.warn {
            background: url('../img/popup/icon_warn.png') 0 0 no-repeat;
            @include prefix($bgs, 60px 60px, webkit ms);    
        }
        &.info {
            background: url('../img/popup/icon_info.png') 0 0 no-repeat;
            @include prefix($bgs, 60px 60px, webkit ms);    
        }
    }
    p.paragraph {

        strong.normal {
            display: block;
            font-family: $inter-b;
            font-size: 18px;
            padding: 15px 0 0 0;
            color: #29323b;

        }
        span.normal {
            display: block;
            font-size: 13px;
            color: #97a4b1;
            padding: 6px 0;
        }
    }
    p.paragraph-only {
        font-size: 16px;
        color: #29323b;
        padding: 0 20px;
    }
    div.popup-btn-center {
        text-align: center;
        padding-top: 20px;
    }
}

div.tiny-side-tooltip {
    position: fixed;
    z-index: 10;
    right: -400px; top: 74px;
    width: 400px;
    padding: 15px 0;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(40, 49, 59, 0.1);
    border: solid 1px #e8eef4;
    background-color: #f2f4f5;
    @include prefix(transition, right .5s ease-in-out, webkit ms);

    &.on {
        right: 0;
    }

    a.close-btn {
        position: absolute;
        width: 16px; height: 16px;
        right: 8px; top: 8px;
        background: url('../img/popup/icon_close.png') 50% 50% no-repeat;
        @include prefix($bgs, 16px 16px, webkit ms);
        text-indent: -9999px;
    }

    p.paragraph-tiny {
        width: 385px;
        line-height: 20px;
        font-size: 13px;
        color: #29323b;
        padding-left: 64px;

        &.wifi {
            background: url('../img/popup/icon_wifi.png') 22px 50% no-repeat;
            @include prefix($bgs, 24px 24px, webkit ms);    
        }
        &.some-alert {
            background: url('../img/popup/icon_alert.png') 22px 50% no-repeat;
            @include prefix($bgs, 24px 24px, webkit ms);    
        }
    }
}

div.search-data-popup {
    position: absolute;
    z-index: 6;
    width: 328px;
    left: 50%; top: 150px;
    margin: 0 0 0 -164px;
    padding: 17px 15px;
    border-radius: 6px;
    box-shadow: 0 5px 15px 0 rgba(40, 49, 59, 0.15);
    border: solid 1px #e8eef4;
    background-color: #ffffff;      

    input.search-input {
        width: 296px;
        height: 36px;
        border-radius: 23px;
        padding: 5px 35px 5px 15px;
        background-color: #e8eef4;
        color: #97a4b1;
        font-size: 14px;
        border: 0;
    }
    a.search {
        position: absolute;
        width: 20px; height: 20px;
        background: url('../img/icons/icon_search.png') 50% 50% no-repeat;
        @include prefix($bgs, 20px 20px, webkit ms);
        text-indent: -9999px;
        right: 25px; top: 24px;
    }
    ul {
        padding: 15px 0 5px 0;

        li {
            padding: 1px 10px;

            a {
                font-size: 14px;
                color: #29323b;

                &:hover {
                    color: #7850ff;
                }
            }
        }
    }
}

div.find-idpw-popup {
    position: absolute;
    z-index: 6;
    width: 760px;
    height: 425px;
    left: 50%; top: 50%;
    margin: -213px 0 0 -380px;
    padding: 17px 30px;
    border-radius: 6px;
    box-shadow: 0 5px 15px 0 rgba(40, 49, 59, 0.15);
    border: solid 1px #e8eef4;
    background-color: #ffffff;      

    a.close-btn {
        position: absolute;
        width: 20px; height: 20px;
        right: 13px; top: 13px;
        background: url('../img/popup/icon_close.png') 0 0 no-repeat;
        @include prefix($bgs, 20px 20px, webkit ms);
        text-indent: -9999px;
    }
    div.title {
        padding: 0 0 50px 0;

        span {
            font-family: $inter-b;
            font-size: 20px;
            font-weight: 600;
            color: #29323b;
        }
        p {
            height: 16px;
            font-size: 13px;
            color: #97a4b1;
        }
    }
    div.input-wrap {

        div.btn-area {
            text-align: center;
        }
        div.f {
            position: relative;
            float: left;
            width: 50%; height: 310px;
            padding-right: 30px;
            border-right: 1px solid #e8eef4;

            div.btn-area {
                padding-top: 30px;
            }
        }
        div.s {
            position: relative;
            float: left;
            width: 50%; height: 310px;
            padding-left: 30px;

            div.btn-area {
                padding-top: 60px;
            }
        }
        p.tit {
            font-family: $inter-b;
            font-size: 16px;
            font-weight: 600;
            color: #29323b;
            padding-bottom: 25px;
        }
        p.para {
            font-size: 14px;
            line-height: 1.43;
            color: $dark;
        }

    }
}

div.reset-pw-popup {
    position: absolute;
    z-index: 6;
    width: 378px;
    height: 453px;
    left: 50%; top: 50%;
    margin: -226px 0 0 -189px;
    padding: 17px 30px;
    border-radius: 6px;
    box-shadow: 0 5px 15px 0 rgba(40, 49, 59, 0.15);
    border: solid 1px #e8eef4;
    background-color: #ffffff;      

    a.close-btn {
        position: absolute;
        width: 20px; height: 20px;
        right: 13px; top: 13px;
        background: url('../img/popup/icon_close.png') 0 0 no-repeat;
        @include prefix($bgs, 20px 20px, webkit ms);
        text-indent: -9999px;
    }
    div.title {
        padding: 0 0 50px 0;

        span {
            font-family: $inter-b;
            font-size: 20px;
            font-weight: 600;
            color: #29323b;
        }
        p {
            height: 16px;
            font-size: 13px;
            color: #97a4b1;
        }
    }
    div.input-wrap {

        div.btn-area {
            text-align: center;
        }
        div.reset-pw {
            position: relative;
            float: left;
            padding-right: 30px;
            border-right: 1px solid #e8eef4;

            div.btn-area {
                padding-top: 65px;
            }
            p.details {
                width: 317px;
                height: 40px;
                font-size: 14px;
                line-height: 1.43;
                letter-spacing: -0.5px;
                color: #28313b;
                padding-top: 20px;
            }
        }
    }
}

div.profile-tip {
    position: absolute;
    z-index: 6;
    width: 760px;
    height: 737px;
    left: 50%; top: 50%;
    margin: -368px 0 0 -380px;
    padding: 24px 0px 0 0px;
    border-radius: 6px;
    box-shadow: 0 5px 15px 0 rgba(40, 49, 59, 0.15);
    border: solid 1px #e8eef4;
    background-color: #ffffff;      

    a.close-btn {
        position: absolute;
        width: 20px; height: 20px;
        right: 13px; top: 13px;
        background: url('../img/popup/icon_close.png') 0 0 no-repeat;
        @include prefix($bgs, 20px 20px, webkit ms);
        text-indent: -9999px;
    }
    div.title {
        padding: 0 0 60px 0;
        text-align: center;

        span {
            font-family: $inter-b;
            font-size: 20px;
            font-weight: 600;
            color: #29323b;
        }
    }
    div.inner-wrap {
        height: 622px;

        div.left {
            float: left;
            width: 278px;
            border-right: 1px solid #e8eef4;
            padding-left: 35px;
            height: 100%;
        }
        div.right {
            float: right;
            width: 478px;
            padding-right: 35px;
            height: 100%;
        }
    }
}