/********************** 
* tiny popup
***********************/
div.tiny-popup-wrap {
    position: absolute;
    right: 50%; top: 50%;
    transform: translate(50%,-50%);
    padding: 35px 40px 25px 40px;
    width: 400px;
    min-height: 180px;
    border-radius: 6px;
    box-shadow: 0 5px 15px 0 rgba(40, 49, 59, 0.15);
    border: 1px solid #e8eef4;
    background-color: #ffffff;
    text-align: center;

    a.close-btn {
        position: absolute;
        width: 20px; height: 20px;
        right: 13px; top: 13px;
        background: url('../img/popup/icon_close.png') 0 0 no-repeat;
        @include prefix($bgs, 20px 20px, webkit ms);
        text-indent: -9999px;
    }
    span.popup-img {
        display: inline-block;
        width: 60px; height:60px;

        &.check {
            background: url('../img/popup/icon_check.png') 0 0 no-repeat;
            @include prefix($bgs, 60px 60px, webkit ms);    
        }
        &.delete {
            background: url('../img/popup/icon_trash.png') 0 0 no-repeat;
            @include prefix($bgs, 60px 60px, webkit ms);    
        }
        &.warn {
            background: url('../img/popup/icon_warn.png') 0 0 no-repeat;
            @include prefix($bgs, 60px 60px, webkit ms);    
        }
        &.info {
            background: url('../img/popup/icon_info.png') 0 0 no-repeat;
            @include prefix($bgs, 60px 60px, webkit ms);    
        }
    }
    p.paragraph {

        strong.normal {
            display: block;
            font-family: $inter-b;
            font-size: 18px;
            padding: 15px 0 0 0;
            color: #29323b;

        }
        span.normal {
            display: block;
            font-size: 13px;
            color: #97a4b1;
            padding: 6px 0;
        }
    }
    div.popup-btn-center {
        text-align: center;
        padding-top: 20px;
    }
}