/********************** 
* margin, padding, width, height util
***********************/
.mgr-0 {margin-right: 0px !important;}
.mgr-10 {margin-right: 10px !important;}
.mgr-15 {margin-right: 15px !important;}
.mgr-20 {margin-right: 20px !important;}

.mgb-0 {margin-bottom: 0px !important;}
.mgb-10 {margin-bottom: 10px !important;}
.mgb-20 {margin-bottom: 20px !important;}
.mgb-30 {margin-bottom: 30px !important;}

.mgt-0 {margin-top: 0px !important;}
.mgt-10 {margin-top: 10px !important;}
.mgt-20 {margin-top: 20px !important;}
.mgt-30 {margin-top: 30px !important;}

.pdt-0 {padding-top: 0px !important;}
.pdt-10 {padding-top: 10px !important;}
.pdt-20 {padding-top: 20px !important;}
.pdt-30 {padding-top: 30px !important;}
.pdt-40 {padding-top: 40px !important;}
.pdt-50 {padding-top: 50px !important;}
.pdt-60 {padding-top: 60px !important;}

.pdb-0 {padding-bottom: 0px !important;}
.pdb-10 {padding-bottom: 10px !important;}
.pdb-20 {padding-bottom: 20px !important;}
.pdb-30 {padding-bottom: 30px !important;}
.pdb-40 {padding-bottom: 40px !important;}
.pdb-50 {padding-bottom: 50px !important;}
.pdb-60 {padding-bottom: 60px !important;}