/********************** 
* margin, padding, width, height util
***********************/
.mgr-0 {margin-right: 0px !important;}
.mgr-5 {margin-right: 5px !important;}
.mgr-10 {margin-right: 10px !important;}
.mgr-15 {margin-right: 15px !important;}
.mgr-20 {margin-right: 20px !important;}
.mgr-25 {margin-right: 25px !important;}
.mgr-30 {margin-right: 30px !important;}
.mgr-35 {margin-right: 35px !important;}
.mgr-40 {margin-right: 40px !important;}
.mgr-45 {margin-right: 45px !important;}
.mgr-50 {margin-right: 50px !important;}

.mgl-0 {margin-left: 0px !important;}
.mgl-5 {margin-left: 5px !important;}
.mgl-10 {margin-left: 10px !important;}
.mgl-15 {margin-left: 15px !important;}
.mgl-20 {margin-left: 20px !important;}
.mgl-25 {margin-left: 25px !important;}
.mgl-30 {margin-left: 30px !important;}
.mgl-35 {margin-left: 35px !important;}
.mgl-40 {margin-left: 40px !important;}
.mgl-45 {margin-left: 45px !important;}
.mgl-50 {margin-left: 50px !important;}

.mgb-0 {margin-bottom: 0px !important;}
.mgb-5 {margin-bottom: 5px !important;}
.mgb-10 {margin-bottom: 10px !important;}
.mgb-15 {margin-bottom: 15px !important;}
.mgb-20 {margin-bottom: 20px !important;}
.mgb-25 {margin-bottom: 25px !important;}
.mgb-30 {margin-bottom: 30px !important;}
.mgb-35 {margin-bottom: 35px !important;}
.mgb-40 {margin-bottom: 40px !important;}
.mgb-45 {margin-bottom: 45px !important;}
.mgb-50 {margin-bottom: 50px !important;}

.mgt-0 {margin-top: 0px !important;}
.mgt-5 {margin-top: 5px !important;}
.mgt-10 {margin-top: 10px !important;}
.mgt-15 {margin-top: 15px !important;}
.mgt-20 {margin-top: 20px !important;}
.mgt-25 {margin-top: 25px !important;}
.mgt-30 {margin-top: 30px !important;}
.mgt-35 {margin-top: 35px !important;}
.mgt-40 {margin-top: 40px !important;}
.mgt-45 {margin-top: 45px !important;}
.mgt-50 {margin-top: 50px !important;}

.pdt-0 {padding-top: 0px !important;}
.pdt-5 {padding-top: 5px !important;}
.pdt-10 {padding-top: 10px !important;}
.pdt-15 {padding-top: 15px !important;}
.pdt-20 {padding-top: 20px !important;}
.pdt-25 {padding-top: 25px !important;}
.pdt-30 {padding-top: 30px !important;}
.pdt-35 {padding-top: 35px !important;}
.pdt-40 {padding-top: 40px !important;}
.pdt-45 {padding-top: 45px !important;}
.pdt-50 {padding-top: 50px !important;}
.pdt-55 {padding-top: 55px !important;}
.pdt-60 {padding-top: 60px !important;}

.pdb-0 {padding-bottom: 0px !important;}
.pdb-5 {padding-bottom: 5px !important;}
.pdb-10 {padding-bottom: 10px !important;}
.pdb-15 {padding-bottom: 15px !important;}
.pdb-20 {padding-bottom: 20px !important;}
.pdb-25 {padding-bottom: 25px !important;}
.pdb-30 {padding-bottom: 30px !important;}
.pdb-35 {padding-bottom: 35px !important;}
.pdb-40 {padding-bottom: 40px !important;}
.pdb-45 {padding-bottom: 45px !important;}
.pdb-50 {padding-bottom: 50px !important;}
.pdb-55 {padding-bottom: 55px !important;}
.pdb-60 {padding-bottom: 60px !important;}

.pdl-0 {padding-left: 0px !important;}
.pdl-5 {padding-left: 5px !important;}
.pdl-10 {padding-left: 10px !important;}
.pdl-15 {padding-left: 15px !important;}
.pdl-20 {padding-left: 20px !important;}
.pdl-25 {padding-left: 25px !important;}
.pdl-30 {padding-left: 30px !important;}
.pdl-35 {padding-left: 35px !important;}
.pdl-40 {padding-left: 40px !important;}
.pdl-45 {padding-left: 45px !important;}
.pdl-50 {padding-left: 50px !important;}
.pdl-55 {padding-left: 55px !important;}
.pdl-60 {padding-left: 60px !important;}

.pdr-0 {padding-right: 0px !important;}
.pdr-5 {padding-right: 5px !important;}
.pdr-10 {padding-right: 10px !important;}
.pdr-15 {padding-right: 15px !important;}
.pdr-20 {padding-right: 20px !important;}
.pdr-25 {padding-right: 25px !important;}
.pdr-30 {padding-right: 30px !important;}
.pdr-35 {padding-right: 35px !important;}
.pdr-40 {padding-right: 40px !important;}
.pdr-45 {padding-right: 45px !important;}
.pdr-50 {padding-right: 50px !important;}
.pdr-55 {padding-right: 55px !important;}
.pdr-60 {padding-right: 60px !important;}