/********************** 
* layout
***********************/
div.wrapper {
    position: relative;
    margin: 0 auto;
    
    @include breakpointmax(max) {
        width: 1280px;
        border:1px solid red;
    }
    
    section {
        @include breakpointmax(max) {
            width: 1200px;
            border:1px solid blue;
        }
    }
}

/********************** 
* header
***********************/
header {

}

/********************** 
* footer
***********************/
footer {

}

/********************** 
* globals
***********************/
//input focus remove outline
*:focus {
    outline: none;
}
