/********************** 
* layout
***********************/
div.wrapper {
    position: relative;
    margin: 0 auto;
    min-height: 100%;
    // background: #f8fafc; 어드민으로 인하여 일단 삭제

    @include breakpointmax(max) {
        width: 1600px !important;
    }

    header {
        position: absolute;
        z-index: 5;
        top: 0; left: 0;
        height: 70px; width: 100%;
        background: #fff;
        // @include prefix(box-shadow, 0 0 6px 0 #ccc, webkit ms);

        div.header-shadow {
            position: absolute; top: 70px;
            z-index: 5;
            width: 100%; height: 8px;
            opacity: .15;
            background-image: linear-gradient(to top, rgba(31, 44, 58, 0), rgba(31, 44, 58, 0.7));
        }

        a.monitor {
            position: absolute;
            z-index: 3;
            left: 0; top: 0;
            width: 70px; height: 70px;
            border-right: 1px solid #c8d3df;
            background: #9678ff url('../img/layout/header_monitor.png') 50% 50% no-repeat;
            @include prefix(background-size, 24px 24px, webkit ms);
            text-indent: -9999px;
        }
        div.product-btn {
            position: absolute;
            top: 0; 
            left: -245px;
            z-index: 2;
            width: 245px; height: 70px;
            background: #eef2f5;
            border-right: 1px solid #c8d3df;
            @include prefix(transition, left .3s ease-in-out, webkit ms);

            &.on {
                left: 70px;
            }
            
            span.refresh {
                float: left;
                width: 22px; height: 22px;
                margin: 22px 0 0 24px;
                background: url('../img/layout/header_repeat.png') 50% 50% no-repeat;
                @include prefix(background-size, 22px 22px, webkit ms);
            }
            div.texts {
                float: left;
                margin: 12px 0 0 18px;

                p.f {
                    font-size: 16px;
                    color: #28313b;
                }
                p.s {
                    font-size: 13px;
                    color: #97a4b1;
                }
            }
        }
        h1.logo {
            position: absolute;
            top: 23px; left: 96px;
            font-family: $raleway;
            font-weight: 500;
            font-size: 20px;
            color: #000;
        }
        span.loading {
            position: absolute;
            width: 70px; height: 70px;
            left: 50%; top: 0;
            margin: 0 0 0 -35px;
            text-align: center;
            background: url('../img/icons/loading_default.png') 0 0 no-repeat;
            @include prefix($bgs, 70px 70px, webkit ms);
            text-indent: -9999px;

            &.on {
                background: url('../img/icons/loading_on.gif') 0 0 no-repeat;
                @include prefix($bgs, 70px 70px, webkit ms);
            }
        }
        div.header-info {
            position: absolute;
            top: 0; right: 0;

            ul {
                li {
                    float: left;

                    a {
                        display: inline-block;
                        width: 22px; height: 22px;
                        margin: 23px 0 0 32px;
                        text-indent: -9999px;

                        &.a {
                            background: url('../img/layout/header_search.png') 50% 50% no-repeat;
                            @include prefix(background-size, 100% auto, webkit ms);

                            &:hover {
                                background: url('../img/layout/header_search_on.png') 50% 50% no-repeat;
                                @include prefix(background-size, 100% auto, webkit ms);
                            }
                        }
                        &.b {
                            background: url('../img/layout/header_layers.png') 50% 50% no-repeat;
                            @include prefix(background-size, 100% auto, webkit ms);

                            &:hover {
                                background: url('../img/layout/header_layers_on.png') 50% 50% no-repeat;
                                @include prefix(background-size, 100% auto, webkit ms);
                            }
                        }
                        &.c {
                            position: relative;
                            background: url('../img/layout/header_bell.png') 50% 50% no-repeat;
                            @include prefix(background-size, 100% auto, webkit ms);

                            &:hover {
                                background: url('../img/layout/header_bell_on.png') 50% 50% no-repeat;
                                @include prefix(background-size, 100% auto, webkit ms);
                            }

                            span.alram-round {
                                position: absolute;
                                top: -2px; right: -2px;
                                width: 6px; height: 6px;
                                border: 2px solid #9678ff;
                                @include prefix(border-radius, 50%, webkit ms);
                            }
                        }
                        &.d {
                            background: url('../img/layout/header_settings.png') 50% 50% no-repeat;
                            @include prefix(background-size, 100% auto, webkit ms);

                            &:hover {
                                background: url('../img/layout/header_settings_on.png') 50% 50% no-repeat;
                                @include prefix(background-size, 100% auto, webkit ms);
                            }
                        }
                    }

                    &:last-child a {
                        width: 42px; height: 42px;
                        border: 1px solid #dfe5eb;
                        margin: 14px 23px 0 34px;
                        background: #eee;
                        overflow: hidden;
                        text-indent: 0;
                        @include prefix(border-radius, 50%, webkit ms);
                    }
                }
            }
        }
    }
    
    section {
        min-height: 100%;
        
        div.lnb-wrap {
            position: absolute;
            z-index: 2;
            top: 0; left: 0;
            width: 70px;
            height: 100%;
            border-right: 1px solid #c8d3df;
            background: #fff;
        }
        div.content-wrap {
            margin-left: 70px;
            padding-top: 70px;
            height: 400px;
            @include breakpointmax(max) {
                width: 1215px !important;
            }

            &.wide-wrapper {
                width: 100% !important;
                margin-left: 0;
            }
        }
        div.device-wrap {
            position: absolute;
            z-index: 2;
            top: 0; right: 0;
            width: 305px;
            height: 100%;
            border-left: 1px solid #c8d3df;
            background: #fff;

            div.device-top {
                height: 48px;
                background: #97a4b1;
                margin-top: 70px;

                span.f {
                    float: left;
                    font-family: $inter-b;
                    font-size: 16px;
                    color: #fff;
                    padding: 12px 0 0 20px;
                }
                span.s {
                    float: right;
                    padding: 14px 17px 0 0;

                    a {
                        display: inline-block; 
                        width: 18px; height: 18px;
                        text-indent: -9999px; 

                        &.plus {
                            background: url('../img/icons/icon_plus.png') 50% 50% no-repeat;
                            @include prefix(background-size, 18px 18px, webkit ms);   
                        }
                        &.minus {
                            background: url('../img/icons/icon_minus.png') 50% 50% no-repeat;
                            @include prefix(background-size, 18px 18px, webkit ms);
                            margin-left: 9px;
                        }
                    }
                    
                }
            }

            div.filter-options {
                background: #eef2f5;
                height: 0;
                overflow: hidden;
                @include prefix(transition, height 0.5s, ease-in-out);

                &.on {
                    height: 121px;
                }

                div.option {
                    height: 86px;

                    ul {
                        width: 94%;
                        margin: 0 auto;
                        padding: 9px 0;

                        li {
                            float: left;
                            width: 33%;
                            text-align: center;
                            padding: 3px 0;

                            .opt-btn {
                                display: inline-block;
                                height: 27px;
                                width: 89px;
                                border-radius: 25px;
                                font-family: $inter-m;
                                font-size: 12px;
                                text-align: center;
                                padding: 4px 0px;
                                color: #28313b;
                                background: #fff;

                                &.on {
                                    color: #fff;
                                    background: #9678ff;
                                }
                            }
                        }
                    }
                }
                div.order {
                    height: 33px;
                    border-top: 1px solid #dfe5eb;
                    border-bottom: 1px solid #dfe5eb;

                    ul {
                        margin: 7px 0 0 18px;
                        li {
                            float: left;
                            font-size: 12px;
                            font-family: $inter-b;
                            color: #28313b;

                            &:first-child {
                                padding-right: 40px;
                            }

                            span.radiobox-default {
                                margin-right: 15px; 
                                
                                label {
                                    font-family: $inter-m;
                                    color: #28313b;

                                    span {
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            div.device-filter {
                height: 32px;
                border-bottom: 1px solid #c8d3df;
                text-align: center;
                padding-top: 2px;
                background: #eef2f5;

                a {
                    display: inline-block;
                    font-size: 12px;
                    font-family: $inter-m;
                    color: #28313b;
                    padding-left: 20px; 
                    background: url('../img/icons/icon_filter.png') 0% 50% no-repeat;
                    @include prefix(background-size, 12px 12px, webkit ms);   
                }
            }

            ul.device-list {
                overflow-y: auto;
                overflow-x: hidden;
                @include prefix(transition, height 0.5s, webkit ms);

                li {
                    position: relative;
                    height: 62px;
                    border-bottom: 1px solid #c8d3df;
                    padding: 9px 0 0 15px;
                    // overflow: hidden;

                    &:hover::before {
                        content: ' ';
                        position: absolute;
                        left: 0; top: 0;
                        width: 4px; height: 100%;
                        background: #9678ff;
                    }
                    
                    div.device-inner {
                        margin-left: -46px;
                        @include prefix(transition, margin-left .3s ease-in-out, webkit ms);

                        &.on {
                            margin-left: 0;
                        }
                        div.re {
                            position: relative;
                            float: left;
                            width: 46px; height: 61px;

                            a.remove {
                                position: absolute;
                                left: 0; top: 0;
                                z-index: 2;
                                width: 46px; height: 61px;
                                margin: -9px 18px 0 -15px;
                                background: #ea5858 url('../img/icons/icon_device_minus.png') 50% 50% no-repeat;
                                @include prefix($bgs, 18px 18px, webkit ms);
                            }
                        }
                        div.inner {
                            float: left;

                            p.f {
                                font-family: $inter-m;
                                font-size: 16px;
                                color: #28313b;
                                line-height: 23px;

                                span.box {
                                    display: inline-block;
                                    width: 14px; height: 14px;
                                    margin-right: 7px;

                                    &.disk {
                                        background: url('../img/icons/icon_server.png') 50% 50% no-repeat;
                                        @include prefix(background-size, 14px 14px, webkit ms);
                                    }
                                    &.cloud {
                                        background: url('../img/icons/icon_cloud.png') 50% 50% no-repeat;
                                        @include prefix(background-size, 14px 14px, webkit ms);
                                    }
                                    &.copy {
                                        background: url('../img/icons/icon_copy.png') 50% 50% no-repeat;
                                        @include prefix(background-size, 14px 14px, webkit ms);
                                    }
                                    &.os-win {
                                        background: url('../img/icons/icon_os_window.png') 50% 50% no-repeat;
                                        @include prefix(background-size, 14px 14px, webkit ms);
                                    }
                                    &.os-linux {
                                        background: url('../img/icons/icon_os_linux.png') 50% 50% no-repeat;
                                        @include prefix(background-size, 14px 14px, webkit ms);
                                    }
                                    &.os-mark {
                                        background: url('../img/icons/icon_os_mark.png') 50% 50% no-repeat;
                                        @include prefix(background-size, 14px 14px, webkit ms);
                                    }
                                }
                                span.dvc {
                                    margin-left: 5px;
                                }
                            }
                            p.s {   
                                font-size: 13px;
                                color: #97a4b1;
                                line-height: 23px;

                                strong {
                                    font-family: $inter-b;
                                }
                            }
                            span.status {
                                position: absolute;
                                top: 12px; right: 10px;
                                width: 9px; height: 9px;
                                @include prefix(border-radius, 50%, webkit ms);   
                                
                                &.stat-1 {
                                    border: 2px solid #63dbc1;
                                }
                                &.stat-2 {
                                    border: 2px solid #9678ff;
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    footer {

    }
}

/********************** 
* globals
***********************/
//input focus remove outline
*:focus {
    outline: none;
}
div.popup-film {
    position: fixed;
    z-index: 10;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(26, 30, 34, 0.2);
}