/********************** 
* variable
***********************/
$raleway : 'Raleway', sans-serif;
$inter-l : 'inter-light', sans-serif;
$inter-r : 'inter-re', sans-serif;
$inter-m : 'inter-me', sans-serif;
$inter-sb : 'inter-semi', sans-serif;
$inter-b : 'inter-bold', sans-serif;

$bgs : background-size;
$bdr : border-radius;
$ff : font-family;
$fs : font-size;