/********************** 
* variable
***********************/
$raleway : 'Raleway', sans-serif;
$inter-r : 'inter-re', sans-serif;
$inter-m : 'inter-me', sans-serif;
$inter-b : 'inter-semi', sans-serif;
